<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/images/logo1.png}">
    <title>Event Management System-Admin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #e1e0e0; ">

<!-- Sidebar -->
<div class="sidebar">
    <div class="modal-logos">
        <img src="/images/logo2.png" alt="logo">
        <img src="/images/flogo.png" alt="logo">
    </div>

    <h2>ADMIN </h2>

    <a th:href="@{/admin/dashboard}">DASHBOARD</a>
    <a href="#">CALENDER</a>
    <a th:href="@{/admin/booking-request}">BOOKING REQUEST</a>
    <a th:href="@{/admin/approved-events}">APPROVED EVENTS</a>
    <a th:href="@{/admin/venues}">MANAGE VENUES</a>
    <a th:href="@{/admin/users}">MANAGE USERS</a>
    <a th:href="@{/admin/feedback}">FEEDBACK LIST</a>
    <a th:href="@{/admin/news}">LATEST NEWS</a><br><br><br>

    <a th:href="@{/}">LOGOUT</a>

</div>

<!-- Main Content -->
<div class="main-content">
    <div class="border">
          <h1>ADMIN DASHBOARD</h1>
    </div>
    <!-- Cards -->
    <div class="card-container">

        <div class="card-container">

            <div class="card">
                <h3>Total Requests</h3>
                <p th:text="${total}">0</p>
            </div>

            <div class="card">
                <h3>Approved Events</h3>
                <p th:text="${approved}">0</p>
            </div>

            <div class="card">
                <h3>Pending Requests</h3>
                <p th:text="${pending}">0</p>
            </div>

        </div>

    </div>

    <!-- Table -->
    <h2>Recent Booking Requests</h2>

        <table border="1" style="margin-left: 130px ;width: 80%">
            <tr>
                <th>Event Name</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Status</th>

            </tr>

            <tr th:each="b : ${bookings}">
                <td th:text="${b.eventName}"></td>
                <td th:text="${b.venue}"></td>
                <td th:text="${b.eventDate}"></td>
                <td th:text="${b.status != null ? b.status : 'PENDING'}"></td>

            </tr>

        </table>



</body>
</html>