
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Sidebar -->
<div class="sidebar">
    <div class="modal-logos">
        <img src="/images/logo2.png" alt="logo">
        <img src="/images/flogo.png" alt="logo">
    </div>

    <h2>ADMIN</h2>

    <a href="#">Dashboard</a>
    <a href="#">Booking Requests</a>
    <a href="#">Approved Events</a>
    <a th:href="@{/admin/venues}">Manage Venues</a>
    <a th:href="@{/admin/users}">Manage Users</a>
    <a th:href="@{/admin/feedback}">Feedback-list</a>
    <a href="#">Latest News</a>
    <a href="#">Calendar</a>
    <a th:href="@{/}">Logout</a>

</div>

<h2>Add News</h2>

<form action="/admin/news/save" method="post" enctype="multipart/form-data">

    <input type="text" name="title" placeholder="News Title" required>

    <textarea name="description" placeholder="Description" required></textarea>

    <input type="file" name="imageFile" required>

    <button type="submit">Save</button>

</form>


</body>
</html>