<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #e1e0e0; ">

    <!-- MAIN HEADER -->
    <div class="main-header">

        <!-- Left Logo -->
        <div class="logo-left">
            <img src="/images/logo2.png" alt="Logo">
        </div>

        <!-- Title -->
        <div class="title">
            <h1>Event Management System</h1>
            <h2>Faculty of Technology</h2>
            <h3>University of Ruhuna</h3>
        </div>

        <!-- Right Logo -->
        <div class="logo-right">
            <img src="/images/logo1.png" alt="Logo">
        </div>

    </div>

    <!-- NAVIGATION -->
    <nav class="navbar">
        <a th:href="@{/}">HOME</a>
        <a th:href="@{/about}">ABOUT US</a>
        <a href="#">CALANDER</a>
        <a href="#">BOOKING FORM</a>
        <a href="#">STATUS</a>
        <a th:href="@{/contact}">CONTACT US</a>



    </nav>

    </div>


</div>

    <div class="booking-container">

        <h1 style="color: #f17427">EVENT BOOKING FORM</h1>
        <h3 style="text-align: center;color: #2b2d30">Welcome <span th:text="${user.email}"></span></h3>

        <form action="/book" method="post" enctype="multipart/form-data" class="booking-form">

            <!-- LEFT SIDE -->
            <div class="left-section">

                <input type="text" name="eventName" placeholder="Event Name" required>

                <input type="date" name="eventDate" required>

                <label>Event Start :</label>
                <input type="time" name="eventTimeStart" id="startTime" onchange="calculatePrice()"required>

                <label>Event End :</label>
                <input type="time" name="eventTimeend" id="endTime" onchange="calculatePrice()"required>

                <input type="number" name="peopleCount" placeholder="Number of People" required>

                <select name="venue" id="venue" onchange="calculatePrice()" required>

                    <option value="">-- Select Venue --</option>

                    <option th:each="v : ${venues}"
                            th:value="${v.price}"
                            th:text="${v.name}">
                    </option>

                </select>

                <textarea name="description" placeholder="Event Description" rows="4" required></textarea>



            </div>

            <!-- RIGHT SIDE -->
            <div class="right-section">


                <!-- PRICE -->
                <input type="text" id="price" name="price" placeholder="Total Price" readonly>
                <script>
                    function calculatePrice() {

                        let start = document.getElementById("startTime").value;
                        let end = document.getElementById("endTime").value;
                        let rate = document.getElementById("venue").value;

                        if (!start || !end || !rate) return;

                        let startTime = new Date("1970-01-01T" + start + ":00");
                        let endTime = new Date("1970-01-01T" + end + ":00");

                        let hours = (endTime - startTime) / (1000 * 60 * 60);

                        if (hours <= 0) {
                            document.getElementById("price").value = "Invalid Time";
                            return;
                        }

                        let price = hours * rate;

                        document.getElementById("price").value = price;
                    }
                </script>
                <!-- IMAGE -->
                <label>Upload Event Image :</label>
                <input type="file" name="eventImage" accept="image/*">

                <!-- BANK DETAILS -->
                <div class="bank-box">
                    <h3>Bank Details for Payment</h3>
                    <p>Bank:People's Bank </p>
                    <p>Account Name: Event Management System Faculty of Technology</p>
                    <p>Account No: 123-456-7890</p>
                    <p>Branch: Matara</p>
                    <p style="color:green;">Member Discount Applied ✅</p>
                </div>

                <!-- BANK SLIP -->
                <label>Upload Bank Slip</label>
                <input type="file" name="bankSlip" accept="image/*,application/pdf" required>

                <button type="submit">BOOK NOW</button>

            </div>
            <p th:if="${param.success}" style="color:green;">
                ✅ Booking submitted successfully!
            </p>
        </form>

    </div>







<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>