<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #e1e0e0; ">
<div th:fragment="header">

    <!-- MAIN HEADER -->
    <div class="main-header">

        <!-- Left Logo -->
        <div class="logo-left">
            <img src="/images/logo2.png" alt="Logo">
        </div>

        <!-- Title -->
        <div class="title">
            <h1>Event Management System</h1>
            <h2>Faculty of Technology</h2>
            <h3>University of Ruhuna</h3>
        </div>

        <!-- Right Logo -->
        <div class="logo-right">
            <img src="/images/logo1.png" alt="Logo">
        </div>

    </div>

    <!-- NAVIGATION -->
    <nav class="navbar">
        <a href="/">HOME</a>
        <a th:href="@{/about}">ABOUT US</a>
        <a href="#">CALANDER</a>
        <a th:href="@{/contact}">CONTACT US</a>

    </nav>

    </div>


</div>

<h3 style="text-align: center;color: #03805d">Welcome <span th:text="${user.email}"></span></h3>

<div class="booking-container">

    <h2>Event Booking Form</h2>

    <form action="/book" method="post" enctype="multipart/form-data">

        <input type="text" name="eventName" placeholder="Event Name" required>

        <input type="date" name="eventDate" required>

        <input type="time" name="eventTime" required>

        <input type="number" name="peopleCount" placeholder="Number of People" required>

        <input type="text" name="venue" placeholder="Venue" required>

        <textarea name="description" placeholder="Event Description" rows="4" required></textarea>

        <!-- PRICE -->
        <input type="text" name="price" placeholder="Total Price (Auto / Manual)" readonly>

        <!-- IMAGE UPLOAD -->
        <label>Upload Event Image</label>
        <input type="file" name="eventImage" accept="image/*">

        <!-- BANK DETAILS -->
        <div class="bank-box">
            <h3>Bank Details for Payment</h3>
            <p>Bank: Bank of Ceylon</p>
            <p>Account Name: Event Management System</p>
            <p>Account No: 123-456-7890</p>
            <p>Branch: Negombo</p>
            <!-- Member special -->
            <p style="color:green;">Member Discount Applied ✅</p>
        </div>

        <!-- BANK SLIP -->
        <label>Upload Bank Slip</label>
        <input type="file" name="bankSlip" accept="image/*,application/pdf" required>

        <button type="submit">BOOK NOW</button>

    </form>

</div>





<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>