<div th:fragment="header">

    <!-- MAIN HEADER -->
    <div class="main-header">

        <!-- Left Logo -->
        <div class="logo-left">
            <img src="/images/logo2.png" alt="Logo">
        </div>

        <!-- Title -->
        <div class="title">
            <h1>Event Management System</h1>
            <h2>Faculty of Technology</h2>
            <h3>University of Ruhuna</h3>
        </div>

        <!-- Right Logo -->
        <div class="logo-right">
            <img src="/images/logo1.png" alt="Logo">
        </div>

    </div>

    <!-- NAVIGATION -->
    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="#">ABOUT US</a>
        <a href="#">CALANDER</a>
        <a href="#">BOKKING</a>
        <a href="#">CONTACT US</a>
        <a href="#">SIGNUP/LOGIN</a>

    </nav>

</div>