<div th:fragment="header">

    <!-- MAIN HEADER -->
    <div class="main-header">

        <!-- Left Logo -->
        <div class="logo-left">
            <img src="/images/logo2.png" alt="Logo">
        </div>

        <!-- Title -->
        <div class="title">
            <h1>Event Management System</h1>
            <h2>Faculty of Technology</h2>
            <h3>University of Ruhuna</h3>
        </div>

        <!-- Right Logo -->
        <div class="logo-right">
            <img src="/images/logo1.png" alt="Logo">
        </div>

    </div>

    <!-- NAVIGATION -->
    <nav class="navbar">
        <a href="/">HOME</a>
        <a th:href="@{/about}">ABOUT US</a>
        <a href="#">CALANDER</a>
        <a href="#" onclick="openLogin()">BOOKING</a>
        <a th:href="@{/contact}">CONTACT US</a>
        <a href="#" onclick="openLogin()">SIGN UP/LOGIN</a>

    </nav>
    <!-- LOGIN MODAL -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLogin()">&times;</span>

            <div class="modal-logos">
                <img src="/images/logo2.png" alt="logo">
                <img src="/images/flogo.png" alt="logo">
            </div>


            <h2>LOGIN</h2>
            <form action="/login" method="post">
                <input type="text" name="email" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button>LOGIN</button>
                <p th:if="${param.loginError}" style="color:red;">
                    ❌ Invalid email or password
                </p>
            </form>


            <p>
                Don't have an account?
                <a href="#" onclick="showSignup()">Sign Up</a>
            </p>
        </div>

        <!-- SIGNUP MODAL -->
        <div id="signupModal" class="modal">
            <div class="modal-content">
               <span class="close" onclick="closeSignup()">&times;</span>
                <div class="modal-logos">
                    <img src="/images/logo2.png" alt="logo">
                    <img src="/images/flogo.png" alt="logo">
                </div>

                <h2>SIGN UP</h2>

                <!-- User Type -->
                <div class="user-type">
                    <button onclick="showMember()">Member</button>
                    <button onclick="showPublic()">Public</button>
                </div>

                <!-- MEMBER FORM -->
                <div id="memberForm">
                    <form action="/signup" method="post">

                        <input type="hidden" name="usertype" value="MEMBER">

                        <input type="text" name="registerno" placeholder="Registration Number" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="password" name="confirmPassword"  placeholder="Confirm Password" required>
                        <button>REGISTER</button>
                    </form>
                </div>

                <!-- PUBLIC FORM -->
                <div id="publicForm" style="display:none;">
                    <form action="/signup" method="post">

                        <input type="hidden" name="usertype" value="PUBLIC">

                        <input type="text" name="phoneno" placeholder="Phone Number" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="text" name="orgname" placeholder="Organization Name" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="password" name="confirmPassword"  placeholder="Confirm Password" required>
                        <button>REGISTER</button>
                    </form>
                </div>

                <p>
                    Already have an account?
                    <a href="#" onclick="showLogin()">Login</a>
                </p>

            </div>
        </div>
    </div>


</div>



