
/*header*/
.top-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

/* MAIN HEADER */
.main-header {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: #0f7f7f;
    padding: 15px 20px;
    color: white;
    /*fix header*/
    position: relative;
}

/* Logos */
.logo-left img{
    width: 100px;
    height: auto;
}
.logo-right img {
    width: 80px;
    height: auto;

}
.logo-right {
    margin-left: auto;
}
/* Title */
.title {
    text-align: left;
    border-left: 20px;
}

.title h1 {
    margin: 0;
    font-size: 32px;
}

.title h2 {
    margin: 0;
    font-weight: normal;
}
.title h3 {
    margin: 0;
    font-weight: normal;
}

/* NAVBAR */
.navbar {
    background-color: #1aa3a3;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: yellow;
}



<!-- footer -->
.footer {
    position: fixed;        /* fixes it to the viewport */
    bottom: 0;
    z-index: 1000;
    width: 100%;/*fix*/
    background-color: #222;
    color: white;
    padding: 20px;
}

/* Top section */
.footer-top {
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: space-around;
    gap: 20px;                       /* control spacing */
    padding: 20px;
    flex-wrap: wrap;
    background-color: #0f7f7f;
}

/* Each column */
.footer-section {
    width: 250px;
    margin: 10px;

}

.footer-section h3 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    color: yellow;
}
.footer-section p {
    margin: 7px 0; /*vertical gap*/
}
/* Bottom */
.footer-bottom {
    text-align: center;
    color: white;
    /*margin-top: 0px;*/
    border-top: 1px solid white;
    align-items: center;
    background-color: #064545;
    height: 55px;
}

/*slide show*/
.slideshow-container {
    position: relative;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

.mySlides { display: none; }
.fade { animation-name: fade; animation-duration: 1s; }

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 3px;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
}
.prev { left: 0; }
.next { right: 0; }

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}
.active { background-color: #717171; }