body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


<!-- footer -->
#footercopy{

}