<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- ABOUT SECTION -->
<section class="about-section">

    <div id="header">
        <img src="/images/about.png">
    </div>
    <br>
    <h1>ABOUT EVENT MANAGEMENT SYSTEM</h1>

    <p class="intro">
        This Event Management System is developed for the Faculty of Technology,
        University of Ruhuna. It allows internal and external users to easily
        book venues, manage events, and track booking status online.
    </p>

    <!-- PURPOSE -->
    <div class="about-box">
        <h2>OUR PURPOSE</h2>
        <p>
            Our goal is to simplify the event booking process, reduce manual paperwork,
            and provide a transparent system for managing venue reservations and approvals.
        </p>
    </div>

    <!-- VENUES -->
    <div class="about-box">
        <h2>AVAILABLE VENUES</h2>

        <div class="venue-list">

            <div class="venue-card">
                <img src="/images/image1.png">
                <h3>Auditorium</h3>
            </div>

            <div class="venue-card">
                <img src="/images/image2.png">
                <h3>Playground</h3>
            </div>

            <div class="venue-card">
                <img src="/images/image3.png">
                <h3>New Building</h3>
            </div>

            <div class="venue-card">
                <img src="/images/image1.png">
                <h3>Lecture Halls</h3>
            </div>

        </div>
    </div>

    <!-- USERS -->
    <div class="about-box">
        <h2>WHO CAN USE THIS SYSTEM</h2>
        <ul>
            <li>Internal Users (Students, Lecturers, Clubs)</li>
            <li>External Users (Organizations, Public)</li>
        </ul>
    </div>



</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>>