<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/login.js"></script>
    <link rel="icon" type="image/png" th:href="@{/images/logo1.png}">
    <title>Event Management System--Home</title>

    <!-- FullCalendar CDN -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="calender-content">
<!-- Main Content -->
<div class="main-content">

    <div id="calendar" ></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',

                events: '/calendar-events'   // backend API
            });

            calendar.render();
        });
    </script>
</div>
</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>